<ion-view title="Definiowanie stosów" id="page7">
    <ion-content padding="true" class="has-header">
        <div id="definiowanieStosW-button-bar6" class="button-bar">
            <button id="definiowanieStosW-button21" class="button button-stable  button-block" ng-click="stos_LH(1)">1</button>
            <button id="definiowanieStosW-button22" class="button button-stable  button-block" ng-click="stos_LH(2)">2</button>
            <button id="definiowanieStosW-button23" class="button button-stable  button-block" ng-click="stos_LH(3)">3</button>
        </div>
        <div id="definiowanieStosW-button-bar7" class="button-bar">
            <button id="definiowanieStosW-button24" class="button button-balanced  button-block" ng-click="stos_LL(0)">0</button>
            <button id="definiowanieStosW-button69" class="button button-balanced  button-block" ng-click="stos_LL(1)">1</button>
            <button id="definiowanieStosW-button70" class="button button-balanced  button-block" ng-click="stos_LL(2)">2</button>
            <button id="definiowanieStosW-button71" class="button button-balanced  button-block" ng-click="stos_LL(3)">3</button>
            <button id="definiowanieStosW-button72" class="button button-balanced  button-block" ng-click="stos_LL(4)">4</button>
        </div>
        <div id="definiowanieStosW-button-bar8" class="button-bar">
            <button id="definiowanieStosW-button27" class="button button-balanced  button-block" ng-click="stos_LL(5)">5</button>
            <button id="definiowanieStosW-button73" class="button button-balanced  button-block" ng-click="stos_LL(6)">6</button>
            <button id="definiowanieStosW-button74" class="button button-balanced  button-block" ng-click="stos_LL(7)">7</button>
            <button id="definiowanieStosW-button75" class="button button-balanced  button-block" ng-click="stos_LL(8)">8</button>
            <button id="definiowanieStosW-button76" class="button button-balanced  button-block" ng-click="stos_LL(9)">9</button>
        </div>
        <div ng-bind-html="snippet" style="font-size: 20px">XXX</div>
        <div ng-bind-html="snippet2" style="font-size: 20px">XXX</div>
        <div ng-bind-html="snippet3" style="font-size: 20px">XXX</div>
        <button id="definiowanieStosW-button30" class="button button-positive  button-block" ng-click="stos_Add(9)"">Zdefiniuj stos</button>
    </ion-content>
</ion-view>