<ion-view title="Dodawanie kłód" id="page6">
    <ion-content padding="true" class="has-header">
        <div id="dodawanieKD-button-bar3" class="button-bar rwkbutton">
            <button id="dodawanieKD-button11" class="button button-stable  button-block rwkbutton" ng-click="kloda_LH(1)">1</button>
            <button id="dodawanieKD-button31" class="button button-stable  button-block rwkbutton" ng-click="kloda_LH(2)">2</button>
            <button id="dodawanieKD-button32" class="button button-stable  button-block rwkbutton" ng-click="kloda_LH(3)">3</button>
            <button id="dodawanieKD-button33" class="button button-stable  button-block rwkbutton" ng-click="kloda_LH(4)">4</button>
            <button id="dodawanieKD-button34" class="button button-stable  button-block rwkbutton" ng-click="kloda_LH(5)">5</button>
            <button id="dodawanieKD-button34" class="button button-stable  button-block rwkbutton" ng-click="kloda_LH(6)">6</button>
        </div>
        
		<div id="dodawanieKD-button-bar4" class="button-bar rwkbutton" style="margin-top:10px !important;">
            <button id="dodawanieKD-button14" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(0)">0</button>
            <button id="dodawanieKD-button35" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(1)">1</button>
            <button id="dodawanieKD-button36" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(2)">2</button>
            <button id="dodawanieKD-button37" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(3)">3</button>
            <button id="dodawanieKD-button38" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(4)">4</button>
        </div>
		<div id="dodawanieKD-button-bar4" class="button-bar rwkbutton">
			<button id="dodawanieKD-button47" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(5)">5</button>
            <button id="dodawanieKD-button48" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(6)">6</button>
            <button id="dodawanieKD-button49" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(7)">7</button>
            <button id="dodawanieKD-button50" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(8)">8</button>
            <button id="dodawanieKD-button51" class="button button-balanced  button-block rwkbutton" ng-click="kloda_LL(9)">9</button>
        </div>

        </div>
        <div id="dodawanieKD-button-bar5" class="button-bar rwkbutton" style="margin-top:10px !important;">
            <button id="dodawanieKD-button17" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(10)">10</button>
            <button id="dodawanieKD-button57" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(11)">11</button>
            <button id="dodawanieKD-button58" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(12)">12</button>
            <button id="dodawanieKD-button60" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(13)">13</button>
            <button id="dodawanieKD-button61" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(14)">14</button>
        </div>
		<div id="dodawanieKD-button-bar5" class="button-bar rwkbutton">
			<button id="dodawanieKD-button63" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(15)">15</button>
            <button id="dodawanieKD-button64" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(16)">16</button>
            <button id="dodawanieKD-button65" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(17)">17</button>
            <button id="dodawanieKD-button66" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(18)">18</button>
            <button id="dodawanieKD-button67" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(19)">19</button>
        </div>
        <div id="dodawanieKD-button-bar11" class="button-bar rwkbutton">
            <button id="dodawanieKD-button17" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(20)">20</button>
            <button id="dodawanieKD-button57" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(21)">21</button>
            <button id="dodawanieKD-button58" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(22)">22</button>
            <button id="dodawanieKD-button60" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(23)">23</button>
            <button id="dodawanieKD-button61" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(24)">24</button>
        </div>
		<div id="dodawanieKD-button-bar11" class="button-bar rwkbutton">
			<button id="dodawanieKD-button63" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(25)">25</button>
            <button id="dodawanieKD-button64" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(26)">26</button>
            <button id="dodawanieKD-button65" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(27)">27</button>
            <button id="dodawanieKD-button66" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(28)">28</button>
            <button id="dodawanieKD-button67" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(29)">29</button>
        </div>
		<div id="dodawanieKD-button-bar11" class="button-bar rwkbutton">
            <button id="dodawanieKD-button17" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(30)">30</button>
            <button id="dodawanieKD-button57" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(31)">31</button>
            <button id="dodawanieKD-button58" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(32)">32</button>
            <button id="dodawanieKD-button60" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(33)">33</button>
            <button id="dodawanieKD-button61" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(34)">34</button>
        </div>
		<div id="dodawanieKD-button-bar11" class="button-bar rwkbutton">
			<button id="dodawanieKD-button63" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(35)">35</button>
            <button id="dodawanieKD-button64" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(36)">36</button>
            <button id="dodawanieKD-button65" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(37)">37</button>
            <button id="dodawanieKD-button66" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(38)">38</button>
            <button id="dodawanieKD-button67" class="button button-assertive  button-block rwkbutton" ng-click="kloda_O(39)">39</button>
        </div>
        <div ng-bind-html="snippet" style="font-size: 20px; margin-top:10px !important;">XXX</div>
		<div ng-bind-html="snippet2" style="font-size: 20px">XXX</div>
		<div ng-bind-html="snippet3" style="font-size: 20px; margin-bottom:10px !important;">XXX</div>
        <button id="dodawanieKD-button20" class="button button-positive  button-block rwkbutton" ng-click="kloda_Add()">Dodaj kłodę</button>
		
    </ion-content>
</ion-view>